body {
    font-family: "Inconsolata", "Monaco", sans-serif;
    font-size: 1.2em;
    min-width: 640px;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

#wrapper {
    margin-top: 15vh;
    text-align: center;
    height: 1em;
    transition: .1s ease all;
}
#soManyMessage {
    position: absolute;
    color: rgb(32,160,255);
    transform: rotate(-25deg);
    top: 0;
    right: 75%;
    display: none;
    text-align: center;
}

a.button {
    padding: .5em 1em;
    line-height: 1.5em;
    color: white;
    background: rgb(32,160,255);
    text-decoration: none;
    border-radius: 128px;
    transition: .1s ease all;
    box-shadow: 0px 8px 0px -8px white;
}

a.button:hover {
    box-shadow: 0px 8px 16px -8px rgba(32,160,255,0.5);
    font-size: 1.525em;
}

a.button:active {
    box-shadow: 0px 8px 16px -8px white;
    background: rgb(32,128,240);
    font-size: 1.475em;
    color: hsl(0,0%,95%);
}

a.button input {
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding:none;
}

.bigButton {
    font-size: 1.5em;
    cursor: pointer;
}


#display {
    top: 20vh;
    margin: auto;
    width: 40%;
    min-width: 640px;
    border: 1px solid hsl(0,0%,95%);
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
    padding-top: 1.5em;
    background: white;
    margin-bottom: 4em;
    box-shadow: 0px 0px 32px 32px white;
}

#display li {
    margin: 0;
    list-style-type: none;
    height: 3em;
    line-height: 3em;
    border-top: 1px solid hsl(0,0%,95%);
}
#display li:first-child {
    border: none;
}

#howMany {
    width: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer {
    display: block;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 0.8em;
    padding: 1.5em;
    width: 100%;
    color: hsl(0,0%,50%);
    z-index: -1;
}

#footer a {
    text-decoration: none;
    color: rgb(32,160,255);
}
#footer a:hover {
    text-decoration: none;
    color: rgb(32,128,240);
}
